.alertaCorrecto
{
	background-color: #87BB3F; 
	color: white;
	padding-top: 7px; 
	padding-bottom: 7px;
	text-align: center;
}

.alertaIncorrecto
{
	background-color: #A56251; 
	color: white;
	padding-top: 10px; 
	padding-bottom: 10px;
	text-align: center;
}

.anchoComponenteGrande
{
	width: 450px;
}

.anchoComponenteMediano
{
	width: 350px;
}

.button2
{
    /*background-color: #eb523e;*/
	border: none;
	box-shadow: 0px 0px 2px white;
	color: white;
	height: 25px;
	margin: 4px;
	min-width: 100px;
}

.button
{
	/*background-color: #D4360E;*/
	border: none;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 17px;
	height: 30px;
	margin: 4px;
}

.button:hover
{
	background-color: #1497CC;
	cursor: pointer;
}

.button:focus
{
	outline: none;
}

.button2:focus
{
    outline: none;
}

.button2:hover
{
    background-color: #1497CC;
    cursor: pointer;
}

.select
{
	border: none;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	font-size: 15px;
	height: 37px;
	margin: 4px;
	min-width: 190px;
	padding: 5px;
}
.select:focus
{
	outline: none;
	box-shadow: 0px 0px 2px blue;
}

.table
{
	background-color: white;
    border-collapse: collapse;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 13px;   /*15px*/
    text-align: justify;
    width: 100%;
}

.table th
{
    height: 45px;   
    padding-left: 4px;
    padding-right: 4px;
}

.table td
{
    padding-left: 4px;
    padding-right: 4px;
}

.table > tbody > tr
{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: default;
    height: 40px;
}

.table > tbody > tr:nth-child(1)
{
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.table > tbody > tr:nth-child(2n+1)
{
	background-color: #F9F9F9;
}

.table > tbody > tr:hover
{
	background-color: #FFFAB4;
}

.widthDetalleTable
{
    width: 105px;
}

.widthEditarTable
{
    width: 65px;
}

.widthSeleccionarTable
{
    width: 110px;
}

.text
{
	border: none;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	font-size: 15px;
	height: 28px;
	margin: 4px;
	min-width: 0px;
	padding: 5px;
}

.text:focus
{
	outline: none;
	box-shadow: 0px 0px 2px blue;
}

.textDiente
{
	border: none;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	font-size: 15px;
	height: 28px;
	margin: 1px;
	min-width: 0px;
	padding: 3px;
	text-align: center;
}

.textDiente:focus
{
	outline: none;
	box-shadow: 0px 0px 2px blue;
}

.textArea
{
	border: none;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	font-size: 15px;
	margin: 4px;
	padding: 5px;
}
.textArea:focus
{
	outline: none;
	box-shadow: 0px 0px 2px blue;
}

.titulo
{
	background-color: #1570A6;
	color: white;
	font-size: 22px;
	text-align: center;
	width: 100%;
}